/* normalize */
@import url(../vendor/normalize.css);

/* fonts */
@import url(../vendor/fonts.css);

/* page */
@import url(../blocks/page/page.css);

/* container */
@import url(../blocks/container/container.css);

/* quote */
@import url(../blocks/quote/quote.css);
@import url(../blocks/quote/__cover/quote__cover.css);