/* normalize */
@import url(../vendor/normalize.css);

/* fonts */
@import url(../vendor/fonts.css);

/* page */
@import url(../blocks/page/page.css);

/* container */
@import url(../blocks/container/container.css);

/* title */
@import url(../blocks/title/title.css);

/* subtitle */
@import url(../blocks/subtitle/subtitle.css);

/* traning */
@import url(../blocks/traning/traning.css);