/* normalize */
@import url(../vendor/normalize.css);

/* fonts */
@import url(../vendor/fonts.css);

/* page */
@import url(../blocks/page/page.css);

/* container */
@import url(../blocks/container/container.css);

/* quote */
@import url(../blocks/quote/quote.css);
@import url(../blocks/quote/__cover/quote__cover.css);
@import url(../blocks/quote/__wrapper/quote__wrapper.css);
@import url(../blocks/quote/__quote/quote__quote.css);
@import url(../blocks/quote/__author/quote__author.css);
@import url(../blocks/quote/__caption/quote__caption.css);

/* header */
@import url(../blocks/header/header.css);

/* nav */
@import url(../blocks/nav/nav.css);

@import url(../blocks/nav/__item/nav__item.css);
@import url(../blocks/nav/__link/nav__link.css);
@import url(../blocks/nav/__list/nav__list.css);

/* title */
@import url(../blocks/title/title.css);

/* subtitle */
@import url(../blocks/subtitle/subtitle.css);

/* welcome */
@import url(../blocks/welcome/welcome.css);
@import url(../blocks/welcome/__cover/welcome__cover.css);
@import url(../blocks/welcome/__button/welcome__button.css);
@import url(../blocks/welcome/__caption/welcome__caption.css);

/* placeholder */
@import url(../blocks/placeholder/placeholder.css);
